@media only screen and (min-width:200px) and (max-width:768px){


    /* mobile menu responsive start */

    div.mobile_menu{
        display: block;
        background: #333;
        padding: 25px 0px;
        position: sticky;
        top: 0;
        z-index: 1500;
        overflow: hidden;
    }
    div.mobile_menu a.brand{

    }

    div.sub_main_block_mb_two{
        transform: scaleY(1) !important;
        height: 133px !important;
    }

    div.sub_main_block_mb{
        transform:scaleY(0);
        transform-origin: top;
        transition: all 0.3s;
        height: 0;
    }
    
    a.menu_icon_animation i{
        font-size: 30px;
        color: white;
    }

    div.nav_click_animation_menu{
        padding: 30px 10px;
        height: 100vh !important;
        transition: all 0.5s;
        transform: scaleY(1) !important;
        transform-origin: top;
    }

    div.nav_link_mobile{
        transition: all 0.5s;
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        height: 0 ;
    }

    li.sub_list a.sub_link{
        color: #dad2d2;
    }

    ul.ul_link_page li.li_link_page a.link_page{
        font-size: 20px;
        color: orchid;
        transition: all 0.3s;
    }

    ul.ul_link_page li.li_link_page a.link_page:hover{
        letter-spacing: .1rem;
    }

    li.sub_list:hover a.sub_link{
        color: gray;
    }

    div.number_three{
        width: 100%;
        text-align: left;
    }
    

    ul.sub_block{
        border-right: none;
    }
    ul.ul_link_page{
        border-right: none;
        width: 100%;
    }
    ul.ul_link_page li.li_link_page {
        display: list-item;
        text-align: left;
    }

    div.account_block_two{
        text-align: center;
        margin-top: 30px;
        display: block;
        width: 100%;
    }

    a.log_in_btn_two{
        font-size: 18px;
        font-weight: 700;
        color: rgb(112, 218, 177) !important;
        text-transform: uppercase;
        transition: all 0.3s;
    }

    a.log_in_btn_two:hover{
        letter-spacing: .2rem;
    }

    a.sing_up_btn_two{
        font-size: 18px;
        font-weight: 700;
        color: rgb(112, 218, 177) !important;
        text-transform: uppercase;
        background: rgba(32, 84, 255, 0.055) !important;
        transition: all 0.3s;
    }

    a.sing_up_btn_two:hover{
        letter-spacing: .2rem;
    }

    /* mobile menu responsive end */


    /* header menu responsive start */

    header{
        display: none;
    }

    /* header menu responsive end */

    /* slider responsive start */

    #slides{
        height: 700px;
    }
    .content { margin-top: 180px; }
    h1.slider_title, p.slider_para, a.slider_info{
        width: 100%;
    }


    /* slider responsive end */

    /* main_sammary_block responsive start */


    div.main_sammary_block{
        padding: 0px;
    }
    div.single_sammary_block{
        padding: 35px 30px;
        border-bottom: 1px solid #eaeaea;
    }
    div.single_sammary_block:last-child{
        border-bottom: none;
    }
    div.single_sammary_block p.sammary_para{
        border-right: none;
        color: rgb(223, 222, 222);
    }


    /* main_sammary_block responsive end */


    /* fourth_block responsive start */

    div.single_block_two{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    div.single_block_two:last-child{
        margin-bottom: 0px;
    }

    div.Single_badge_block{
        width: 94%;
        margin: auto;
    }


    /* fourth_block responsive end */


    /* main_fluid_block_two responsive start */

    div.single_left_block {
        float: none;
        width: 94%;
        margin: auto;
    }

    div.small_block_two{
        width: 100%;
        margin-bottom: 30px;
    }
    div.small_block_two:last-child{
        margin-bottom: 0px;
    }
    div.small_block_two p.small_para{
        text-align: center;
    }

    div.single_right_block{
        float: none;
        width: 94%;
        margin: auto;
        margin-top: 60px;
    }


    /* main_fluid_block_two responsive end */


    /* main_fluid_block_three responsive start */

    h1.sixth_block_title::before{
        width: 36%;
    }
    div.main_account_block{
        width: 94%;
    }
    div.best_account_info{
        margin-left: 0px;
        padding: 39px 31px;
        margin-top: 40px;
    }
    div.single_account_info{
        width: 100%;
    }

    div.main_single_block{
        width: 100%;
    }
    div.single_block_national{
        width: 100%;
    }
    div.none_block_national{
        display: none;
    }

    /* main_fluid_block_three responsive start */


    /* seventh_block responsive start */

    div.seventh_block{
        background-image: none;
    }

    a.microsoft_none_link{
        display: none;
    }

    /* seventh_block responsive end */


    /* main_footer_content responsive start */

    div.left_content{
        width: 100% !important;
        float: none;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    div.right_content{
        width: 100%;
        text-align: center;
    }
    div.svg_payment{
        width: 100%;
    }
    div.svg_payment div.image_svg{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    ul.main_social_list{
        width: 100%;
        text-align: center;
    }


    /* main_footer_content responsive end */


    /* last_footer responsive start */


    div.left_last_footer_link{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        display: none;
    }

    p.copy_right_para{
        width: 100%;
        float: none;
        text-align: center;
    }


    /* last_footer responsive end */


}


/* second size responsive */



@media only screen and (min-width:769px) and (max-width:991px){


     /* mobile menu responsive start */

     div.mobile_menu{
        display: block;
        background: #333;
        padding: 25px 0px;
        position: sticky;
        top: 0;
        z-index: 1500;
        overflow: hidden;
    }
    div.mobile_menu a.brand{

    }

    div.sub_main_block_mb_two{
        transform: scaleY(1) !important;
        height: 133px !important;
    }

    div.sub_main_block_mb{
        transform:scaleY(0);
        transform-origin: top;
        transition: all 0.3s;
        height: 0;
    }
    
    a.menu_icon_animation i{
        font-size: 30px;
        color: white;
    }

    div.nav_click_animation_menu{
        padding: 30px 10px;
        height: 100vh !important;
        transition: all 0.5s;
        transform: scaleY(1) !important;
        transform-origin: top;
    }

    div.nav_link_mobile{
        transition: all 0.5s;
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        height: 0 ;
    }

    li.sub_list a.sub_link{
        color: #dad2d2;
    }

    ul.ul_link_page li.li_link_page a.link_page{
        font-size: 20px;
        color: orchid;
        transition: all 0.3s;
    }

    ul.ul_link_page li.li_link_page a.link_page:hover{
        letter-spacing: .1rem;
    }

    li.sub_list:hover a.sub_link{
        color: gray;
    }

    div.number_three{
        width: 100%;
        text-align: left;
    }
    

    ul.sub_block{
        border-right: none;
    }
    ul.ul_link_page{
        border-right: none;
        width: 100%;
    }
    ul.ul_link_page li.li_link_page {
        display: list-item;
        text-align: left;
    }

    div.account_block_two{
        text-align: center;
        margin-top: 30px;
        display: block;
        width: 100%;
    }

    a.log_in_btn_two{
        font-size: 18px;
        font-weight: 700;
        color: rgb(112, 218, 177) !important;
        text-transform: uppercase;
        transition: all 0.3s;
    }

    a.log_in_btn_two:hover{
        letter-spacing: .2rem;
    }

    a.sing_up_btn_two{
        font-size: 18px;
        font-weight: 700;
        color: rgb(112, 218, 177) !important;
        text-transform: uppercase;
        background: rgba(32, 84, 255, 0.055) !important;
        transition: all 0.3s;
    }

    a.sing_up_btn_two:hover{
        letter-spacing: .2rem;
    }


    /* mobile menu responsive end */


    /* header menu responsive start */

    header{
        display: none;
    }

    /* header menu responsive end */


    /* main_sammary_block responsive start */


    div.main_sammary_block{
        padding: 0px;
    }
    div.single_sammary_block{
        padding: 35px 30px;
        border-bottom: 1px solid #eaeaea;
    }
    div.single_sammary_block:last-child{
        border-bottom: none;
    }
    div.single_sammary_block p.sammary_para{
        border-right: none;
        color: rgb(223, 222, 222);
        display: none;
    }


    /* main_sammary_block responsive end */


    /* fourth_block responsive start */


    div.ov_class_block{
        overflow:hidden;
    }


    div.single_block_two{
        width: 40%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    div.single_block_two:nth-child(3){
        float: right;
    }
    div.single_block_two:nth-child(5){
        float: right;
    }



    div.single_block_two:last-child{
        margin-bottom: 0px;
    }

    div.Single_badge_block{
        width: 94%;
        margin: auto;
    }


    /* fourth_block responsive end */


/* main_fluid_block_two responsive start */

    div.single_left_block {
        float: none;
        width: 94%;
        margin: auto;
    }

    div.small_block_two{
        width: 100%;
        margin-bottom: 30px;
    }
    div.small_block_two:last-child{
        margin-bottom: 0px;
    }
    div.small_block_two p.small_para{
        text-align: center;
    }

    div.single_right_block{
        float: none;
        width: 94%;
        margin: auto;
        margin-top: 60px;
    }


    /* main_fluid_block_two responsive end */




    /* main_fluid_block_three responsive start */

    h1.sixth_block_title::before{
        width: 36%;
    }
    div.main_account_block{
        width: 94%;
    }
    div.best_account_info{
        margin-left: 0px;
        padding: 39px 31px;
        margin-top: 40px;
    }
    div.single_account_info{
        width: 100%;
    }

    div.main_single_block{
        width: 100%;
    }
    div.single_block_national{
        width: 50%;
    }
    div.single_block_national:nth-child(2){
        float: right;
    }
    div.single_block_national:nth-child(4){
        float: right;
    }

    div.none_block_national{
        display: none;
    }

    /* main_fluid_block_three responsive start */



    /* seventh_block responsive start */

    div.seventh_block{
        background-image: none;
    }

    a.microsoft_none_link{
        display: none;
    }

    /* seventh_block responsive end */


    /* main_footer_content responsive start */

    div.left_content{
        width: 100% !important;
        float: none;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 15px;
        margin: auto;
    }

    div.right_content{
        width: 100%;
        text-align: center;
    }
    div.svg_payment{
        width: 100%;
    }
    div.svg_payment div.image_svg{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    ul.main_social_list{
        width: 100%;
        text-align: center;
    }


    /* main_footer_content responsive end */


    /* last_footer responsive start */


    div.left_last_footer_link{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        display: none;
    }

    p.copy_right_para{
        width: 100%;
        float: none;
        text-align: center;
    }


    /* last_footer responsive end */


}



@media only screen and (min-width:992px) and (max-width:1199px){


     /* mobile menu responsive start */

     div.mobile_menu{
        display: block;
        background: #333;
        padding: 25px 0px;
        position: sticky;
        top: 0;
        z-index: 1500;
        overflow: hidden;
    }
    div.mobile_menu a.brand{

    }

    div.sub_main_block_mb_two{
        transform: scaleY(1) !important;
        height: 133px !important;
    }

    div.sub_main_block_mb{
        transform:scaleY(0);
        transform-origin: top;
        transition: all 0.3s;
        height: 0;
    }
    
    a.menu_icon_animation i{
        font-size: 30px;
        color: white;
    }

    div.nav_click_animation_menu{
        padding: 30px 10px;
        height: 100vh !important;
        transition: all 0.5s;
        transform: scaleY(1) !important;
        transform-origin: top;
    }

    div.nav_link_mobile{
        transition: all 0.5s;
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        height: 0 ;
    }

    li.sub_list a.sub_link{
        color: #dad2d2;
    }

    ul.ul_link_page li.li_link_page a.link_page{
        font-size: 20px;
        color: orchid;
        transition: all 0.3s;
    }

    ul.ul_link_page li.li_link_page a.link_page:hover{
        letter-spacing: .1rem;
    }

    li.sub_list:hover a.sub_link{
        color: gray;
    }

    div.number_three{
        width: 100%;
        text-align: left;
    }
    

    ul.sub_block{
        border-right: none;
    }
    ul.ul_link_page{
        border-right: none;
        width: 100%;
    }
    ul.ul_link_page li.li_link_page {
        display: list-item;
        text-align: left;
    }

    div.account_block_two{
        text-align: center;
        margin-top: 30px;
        display: block;
        width: 100%;
    }

    a.log_in_btn_two{
        font-size: 18px;
        font-weight: 700;
        color: rgb(112, 218, 177) !important;
        text-transform: uppercase;
        transition: all 0.3s;
    }

    a.log_in_btn_two:hover{
        letter-spacing: .2rem;
    }

    a.sing_up_btn_two{
        font-size: 18px;
        font-weight: 700;
        color: rgb(112, 218, 177) !important;
        text-transform: uppercase;
        background: rgba(32, 84, 255, 0.055) !important;
        transition: all 0.3s;
    }

    a.sing_up_btn_two:hover{
        letter-spacing: .2rem;
    }

    /* mobile menu responsive end */


    /* header menu responsive start */

    header{
        display: none;
    }

    /* header menu responsive end */




/* fourth_block responsive start */


div.ov_class_block{
    overflow:hidden;
}


div.single_block_two{
    width: 45%;
    margin-bottom: 30px;
    margin-right: 0px;
}

div.single_block_two:nth-child(3){
    float: right;
}
div.single_block_two:nth-child(5){
    float: right;
}



div.single_block_two:last-child{
    margin-bottom: 0px;
}

div.Single_badge_block{
    width: 94%;
    margin: auto;
}


/* fourth_block responsive end */




/* main_fluid_block_three responsive start */


div.single_block_national{
    width: 50%;
}
div.single_block_national:nth-child(2){
    float: right;
}
div.single_block_national:nth-child(4){
    float: right;
}

div.none_block_national{
    display: none;
}

/* main_fluid_block_three responsive start */



/* main_footer_content responsive start */

div.left_content{
    width: 100% !important;
    float: none;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 15px;
    margin: auto;
}

div.right_content{
    width: 100%;
    text-align: center;
}
div.svg_payment{
    width: 100%;
}
div.svg_payment div.image_svg{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
}
ul.main_social_list{
    width: 100%;
    text-align: center;
}


/* main_footer_content responsive end */


/* last_footer responsive start */


div.left_last_footer_link{
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

p.copy_right_para{
    width: 100%;
    float: none;
    text-align: center;
}


/* last_footer responsive end */




}






